body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
a,
a:hover {
	color: rgba(255, 255, 255, 0.56);
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.bmd-layout-header {
	background-color: #f5f5f5;
	color: #757575;
}

.bmd-layout-header>.navbar {
	min-height: 3.5rem;
}

@media (min-width: 992px) {
	.bmd-layout-header>.navbar {
		min-height: 4rem;
  }
  .bmd-layout-content {
    padding-top: .5rem;
    background-color: #f5f5f5;
    padding: 0%;
  }
}

.bmd-layout-content {
	padding-top: .5rem;
  background-color: #f5f5f5;
  padding: 2%;
}

.bmd-layout-drawer {
	background-color: #37474f;
	color: #eceff1;
}

.bmd-layout-drawer>header {
	background-color: #263238;
	height: 151px;
}

.bmd-layout-drawer>header .avatar {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.bmd-layout-drawer>header .account {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.bmd-layout-drawer>header .account .dropdown {}

.bmd-layout-drawer>header .account .dropdown .dropdown-menu {
	font-size: .875rem;
}

.bmd-layout-drawer>header .account .dropdown .dropdown-menu .dropdown-item {
	flex-wrap: nowrap;
}

.bmd-layout-drawer>.list-group .list-group-item {
	color: rgba(255, 255, 255, 0.56);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bmd-layout-drawer>.list-group .list-group-item:hover {
	background-color: #2E3848;
	color: #fff;
	border-left: #01D857 solid 4px;
	cursor: pointer;
}

.demo-graphs {
	padding: 16px 32px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.demo-graphs .demo-graph {
	width: 100%;
}

.demo-graphs .demo-graph:nth-child(1) {
	color: #00b9d8;
}

.demo-graphs .demo-graph:nth-child(2) {
	color: #d9006e;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

:-ms-input-placeholder,
:root .demo-graphs {
	min-height: 664px;
}

:-ms-input-placeholder,
:root .demo-graph {
	max-height: 300px;
}


/* TODO end */

.demo-cards .card {
	margin-bottom: 2rem;
}

.demo-cards .card-title {
	color: #fff;
}

.demo-cards .card-text {
	color: #757575;
}

.demo-cards .card-footer {
	display: flex;
	align-items: center;
}

.demo-cards .demo-updates .card-header {
	border: 0;
	min-height: 200px;
	background-color: #4db6ac;
	background-image: url("images/dog.png");
	background-position: 90% 100%;
	background-repeat: no-repeat;
}

.demo-cards .demo-updates .card-header .card-title {
	margin-bottom: 0;
	padding-top: 8.5rem;
}

.demo-cards .demo-updates .btn {
	color: #00BCD4;
}

.demo-cards .demo-options,
.demo-cards .demo-options .card-footer {
	background-color: #673ab7;
}

.demo-cards .demo-options .card-footer .material-icons {
	margin-left: auto;
	color: rgba(255, 255, 255, 0.89);
}

.demo-cards .demo-options .btn,
.demo-cards .demo-options .checkbox label {
	color: #eceff1;
}

.demo-cards .demo-options .checkbox .check {
	border-color: #eceff1;
}

.bmd-drawer-f-l>.bmd-layout-drawer {
	width: 242px;
}

.bmd-layout-drawer>.list-group .list-group-item {
	padding-right: 1rem;
	padding-left: 1rem;
	font-size: 0.8rem;
	font-weight: 400;
}

.account>span {
	margin: 0 auto;
	font-size: 1rem;
	font-weight: 400;
}

.fecha_navbar {
	width: 90%;
}

.fecha_navbar_text {
	float: right!important;
	margin-right: 5%;
}
.row_forms {
  margin-top: 2%;
  margin-bottom: 2%;
}
.mensaje_error_campos {
  color: #EF7979;
    font-size: 0.9rem;
}
label {
  line-height: 0!important;
  color:#414B59;
}
.form-control:focus {
  background-image: -webkit-linear-gradient(bottom,#01D857 2px,rgba(0,150,136,0) 0),-webkit-linear-gradient(bottom,rgba(0,0,0,.26) 1px,transparent 0);
    background-image: linear-gradient(0deg,#01D857 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.btn-gris {
  background: #AEBCCC;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 2px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
  padding: 13px;
  letter-spacing: 0.5px;
}
.btn-gris:active, .btn-gris:focus, .btn-gris:hover {
  background: #AEBCCC;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
color:#fff;
}



.btn-verde {
  background:  #01D857;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 2px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
  padding: 13px;
  letter-spacing: 0.5px;
}
.btn-verde:active, .btn-verde:focus, .btn-verde:hover {
  background: #01D857;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
color:#fff;
}

.titulos {
  padding-top: 3%;
  padding-bottom: 3%;
  color:#414B59;
}
.modal-title {
  font-size: 1.2rem;
  color:#414B59;
}
.table-hover tbody tr:hover {
  background-color: #E0E8F2;
  cursor: pointer;
}
.divider {
  border-top: #ccc solid 1px;
  width: 90%;
  height: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}


relect.form-control:not([size]):not([multiple]) {
  height: 2.160rem;
}
.buttons_bottom {
	width: 100%;
	padding: 0;
	margin-bottom: 5%;
}



.login_container	{

	height:100vh;
	background: #50a3a2;
  background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}


.login_box	{
	background-color: #fff;
	max-width: 500px;
	padding: 40px;


}
.btn-login {
	margin-top: 30px;
	text-align: center;

}
.section_container p {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align:center;
}
.input_login {
	margin-bottom: 40px;
}